footer
  .wrapper
    section.cta.cta_footer
      p welcome to our company
      a(href='#') Get in touch with us
    .footer_widget
      .f_cols
        h3 Location
        p
          | bhaktapur, nepal
          span.phone (202) 537-0787
        ul.sm
          li
            a.fb(href='#')
          li
            a.twitter(href='#')
          li
            a.dribbble(href='#')
      .f_cols
        h3 Company
        ul
          li
            a(href='#') Our Story
          li
            a(href='#') Mission
          li
            a(href='#') Journal
          li
            a(href='#') Careers
      .f_cols
        h3 Support
        ul
          li
            a(href='#') FAQ
          li
            a(href='#') Contact Us
          li
            a(href='#') Policies
      .f_cols
        h3 Fertile
        p
          | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia est eserunt mollit anim laborum.
    p.rights
      | &copy; All Rights Reserved