doctype html
head
  title bumble
  meta(charset='utf-8')
  meta(name='author' content='pixelhint.com')
  meta(name='description' content='')
  link(rel='stylesheet' type='text/css' href='/css/reset.css')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  link(rel='stylesheet' type='text/css' href='/css/header.css')
  script(type='text/javascript' src='/js/jquery.js')
  script(type='text/javascript' src='/js/main.js')
include _header
// End fixed_nav
section.billboard
  img(src='/img/kc2.jpg' alt='' title='')
// End billboard
section.cta.cta_top
  p welcome to our company!!!!
  a(href='#') Get in touch with us
// End cta_top
section.services.wrapper
  h2 We are green day, we make awesome stuff.
  .separator
    img(src='/img/Green-Day.jpg' alt='')
  ul
    li
      img.s_icons(src='/img/s1.png' alt='')
      h3 Slamco laboris velitesse
      p
        | sed do eiusmod tempor incididunt uto labore dolore magna aliqua enim
        | minim veniam.
    li
      img.s_icons(src='/img/s2.png' alt='')
      h3 Slamco laboris velitesse
      p
        | sed do eiusmod tempor incididunt uto labore dolore magna aliqua enim
        | minim veniam.
    li
      img.s_icons(src='/img/s3.png' alt='')
      h3 Slamco laboris velitesse
      p
        | sed do eiusmod tempor incididunt uto labore dolore magna aliqua enim
        | minim veniam.
// End services
section.recent_work
  .work
    a(href='')
      img(src='/img/w1.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w2.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w3.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w4.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w5.jpg' alt='')
// End recent_work
section.testimonials.wrapper
  h3 Testimonials
  ul.testi_boxs
    li
      img.avatar(src='/img/client1.jpg' alt='')
      h2
        | David Doe 
        span.client_job / Manager
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat.
    li
      img.avatar(src='/img/client2.jpg' alt='')
      h2
        | David Doe 
        span.client_job / UI Designer
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat.
    li
      img.avatar(src='/img/client3.jpg' alt='')
      h2
        | David Doe 
        span.client_job / SEO Expert
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat.
// End testimonials
section.clients
  .wrapper
    ul
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
// End clients
include _footer
// End Footer
//- script(src='../ga.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.min.js')
script(src="/js/login.js")