doctype html
head
  title Fertile |  Clean HTML5 Portfolio website
  meta(charset='utf-8')
  meta(name='author' content='pixelhint.com')
  meta(name='description' content='')
  link(rel='stylesheet' type='text/css' href='/css/reset.css')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  script(type='text/javascript' src='/js/jquery.js')
  script(type='text/javascript' src='/js/main.js')
header.trasparent_nav
  .wrapper
    .logo
      a(href='#')
        img(src='/img/logo.png' alt='Fertile')
    nav
      ul
        li
          a(href='#') Our Story
        li
          a(href='#') Products
        li
          a(href='/programs') Journal
        li
          a(href='#') Contact
// End trasparent_nav
header.fixed_nav
  .wrapper
    .logo
      a(href='#')
        img(src='/img/logo_small.png' alt='Fertile')
    nav
      ul
        li
          a(href='#') Our Story
        li
          a(href='#') Products
        li
          a(href='#') Journal
        li
          a(href='#') Contact
// End fixed_nav
section.billboard
  img(src='/img/billboard.jpg' alt='' title='')
// End billboard
section.cta.cta_top
  p Have a project in mind?  We would love to hear from you!
  a(href='#') Get in touch with us
// End cta_top
section.services.wrapper
  h2 We are fertile, we make awesome stuff.
  .separator
    img(src='/img/separator.png' alt='')
  ul
    li
      img.s_icons(src='/img/s1.png' alt='')
      h3 Slamco laboris velitesse
      p
        | sed do eiusmod tempor incididunt uto labore dolore magna aliqua enim
        | minim veniam.
    li
      img.s_icons(src='/img/s2.png' alt='')
      h3 Slamco laboris velitesse
      p
        | sed do eiusmod tempor incididunt uto labore dolore magna aliqua enim
        | minim veniam.
    li
      img.s_icons(src='/img/s3.png' alt='')
      h3 Slamco laboris velitesse
      p
        | sed do eiusmod tempor incididunt uto labore dolore magna aliqua enim
        | minim veniam.
// End services
section.recent_work
  .work
    a(href='')
      img(src='/img/w1.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w2.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w3.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w4.jpg' alt='')
  .work
    a(href='')
      img(src='/img/w5.jpg' alt='')
// End recent_work
section.testimonials.wrapper
  h3 Testimonials
  ul.testi_boxs
    li
      img.avatar(src='/img/client1.jpg' alt='')
      h2
        | David Doe 
        span.client_job / Manager
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat.
    li
      img.avatar(src='/img/client2.jpg' alt='')
      h2
        | David Doe 
        span.client_job / UI Designer
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat.
    li
      img.avatar(src='/img/client3.jpg' alt='')
      h2
        | David Doe 
        span.client_job / SEO Expert
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur sint occaecat cupidatat.
// End testimonials
section.clients
  .wrapper
    ul
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
      li
        a(href='')
          img(src='/img/client_logo.png' alt='' title='Client Logo')
// End clients
footer
  .wrapper
    section.cta.cta_footer
      p Have a project in mind?  We would love to hear from you!
      a(href='#') Get in touch with us
    .footer_widget
      .f_cols
        h3 Location
        p
          | 3301 New Mexico Avenue Washington, DC 20016 
          span.phone (202) 537-0787
        ul.sm
          li
            a.fb(href='#')
          li
            a.twitter(href='#')
          li
            a.dribbble(href='#')
      .f_cols
        h3 Company
        ul
          li
            a(href='#') Our Story
          li
            a(href='#') Mission
          li
            a(href='#') Journal
          li
            a(href='#') Careers
      .f_cols
        h3 Support
        ul
          li
            a(href='#') FAQ
          li
            a(href='#') Contact Us
          li
            a(href='#') Policies
      .f_cols
        h3 Fertile
        p
          | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia est eserunt mollit anim laborum.
    p.rights
      | &copy; 2014 Fertile  -  All Rights Reserved  -  Find more free Templates at 
      a(href='http://pixelhint.com') Pixelhint.com,m
// End Footer
//- script(src='../ga.js')
